{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  <title>Реєстрація | Defender</title>
{% endblock %}

{% block content %}
  <h2 class="heading">Реєстрація</h2>
  {% if form.errors %}
    <p style="color:red">
      Неправильно введені дані
    </p>
  {% endif %}

  <form action="{% url 'customer-registration' %}" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" value="Зареєструватись" class="btn btn-primary">
    <a href="{% url 'customer-registration' %}" class="btn btn-secondary">
      Очистити
    </a>
  </form>
{% endblock %}
