:root {
    --primary-color: #375a41;
    --secondary-color: #626c65;
    --primary-shadow-color: rgba(55,120,65,.25);
    --secondary-shadow-color: rgba(98,108,101,.25);
    --border-color: #375a419d;
}

::selection {
  background-color: var(--primary-shadow-color);
  color: var(--primary-color);
}

html, a, a:hover {
    color: darkslategray;
    text-decoration: none;
}

body {
    margin-top: 20px;
}

.font-size-09 {
    font-size: 0.9em;
}

.font-size-08 {
    font-size: 0.8em;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.text-color-grey {
    color: #a2a6a3;
}

.sidebar-nav {
    padding: 0;
    margin-left: 0;
    list-style: none;
}

.sidebar-nav-active, .sidebar-nav-active:hover {
    font-weight: bold;
}

.flex {
    display: flex;
    height: 1.5em;
}

.ul-shield {
  list-style: none;
}

.ul-shield li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 16px;
  margin: 0 -1px 3px -20px;
  padding: 0;
  background-image: url("/static/images/shield-transparent.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.ul-shield li.sidebar-nav-active::before {
  background-image: url("/static/images/shield-solid.png");
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    opacity: 0.9;
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem var(--primary-shadow-color);
}

.btn-primary:hover {
    opacity: 1;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    opacity: 0.6;
}

.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem var(--secondary-shadow-color);
}

.btn-secondary:hover {
    opacity: 0.7;
}

.btn-transparent {
    border: none;
    background: transparent;
    padding: 0;
    width: 0;
    height: 0;
}

.form-control {
    border-color: var(--border-color);
}

.form-control:focus {
    box-shadow: 0 0 2px .2rem var(--primary-shadow-color);
    border-color: var(--secondary-color);
}

.add-button {
    float: right;
}

.no-bullet {
    list-style: none inside;
    padding: 0;
}

.counter {
    color: var(--secondary-color);
    letter-spacing: 2px;
}

.call-out-icon {
    width: 1.5em;
    height: 1.3em;
    padding-right: 3px;
}

.shield-icon {
    width: 1.2em;
    height: 1em;
    padding-right: 3px;
    margin: 0 0 3px 2px;
}

.detail-view .shield-icon {
    width: 1.6em;
    height: 1.4em;
}

.exit-icon {
    display: inline;
    width: 1.3em;
    height: 1.1em;
    margin: 5px 0 0 15px;
    opacity: 0.6;
}

.exit-icon:hover {
    opacity: 0.9;
}

.hover-bold:hover {
    font-weight: bold;
}

.indented {
    padding: 10px 25px;
}

.underlined {
    text-decoration: underline;
}

.pointer {
    cursor: default;
}

.product-grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  padding: 30px 0;
}

.product-card-list {
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 8px .1rem var(--primary-shadow-color);
}

.product-card-list:hover {
  border: 2px solid var(--border-color);
  box-shadow: 0 0 10px .2rem var(--primary-shadow-color);
  margin: -3px;
}

.product-image-list {
  width: 100%;
  max-height: 200px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  background-color: transparent;
}

.unavailable {
  filter: grayscale(100%);
  opacity: 0.45;
}

.product-grid-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  gap: 40px;
  padding: 15px;
}

.product-card-display {
  background-color: #fff;
  text-align: right;
  overflow: hidden;
}

.product-image-display {
  width: 100%;
  max-height: 440px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  background-color: transparent;
}

.page-link, .page-link:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.page-link:hover {
  background-color: var(--secondary-shadow-color);
}

.page-item.active .page-link {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.page-link:disabled {
  color: var(--secondary-shadow-color);
}

.page-link:focus,
.page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 .2rem var(--primary-shadow-color);
}

.main-store-image {
  display: block;
  width: 62.5%;
  height: auto;
  margin-top: 20px;
}

.store-image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0;
}

.photo-card-display {
  background-color: #fff;
  overflow: hidden;
}

.store-image {
  width: 30%;
}

.store-location-image {
  display: block;
  width: 62.5%;
  height: auto;
  margin-bottom: 30px;
}

.details
