{% load query_transform %}

{% if not user.is_authenticated %}
  <a href="{% update_wishlist_url product 'add' %}">
    <img class="shield-icon" 
      src="/static/images/shield-transparent.png" 
      alt="Додати до списку бажань">
  </a>
{% else %}
  <a href="{% update_wishlist_url product %}">
    {% if product.product_number not in customer_wishlist_product_numbers %}
      <img class="shield-icon" 
        src="/static/images/shield-transparent.png" 
        alt="Додати до списку бажань">
    {% else %}
      <img class="shield-icon" 
        src="/static/images/shield-solid.png" 
        alt="Видалити зі списку бажань">
    {% endif %}
  </a>
{% endif %}
