{% load query_transform %}

{% with customer_wishlist_product_numbers as wishlist %}
  {% if not user.is_authenticated or product.product_number not in wishlist %}
    <a href="{% update_wishlist_url product 'add' %}">
      <img class="shield-icon" 
           src="/static/images/shield-transparent.png" 
           alt="Додати до списку бажань"
      >
    </a>

  {% else %}
    <a href="{% update_wishlist_url product %}">
      <img class="shield-icon" 
           src="/static/images/shield-solid.png" 
           alt="Видалити зі списку бажань"
      >
    </a>
  {% endif %}
{% endwith %}
