{% extends "base.html" %}

{% block title %}
  <title>Про нас | Defender</title>
{% endblock %}

{% block content %}
  <h2 class="heading">
    Про нас
  </h2>
  
  <p class="mb-0">
    Вже багато років ми займаємось продажем вживаного військового спорядження країн НАТО: 
    одяг, взуття, рюкзаки та інше.
  </p>
  <p>
    Також періодично в наявності може бути щось із поліцейської/охоронної/робочої форми.
  </p>

  <h6 class="mt-4">
    Фото нашого магазину:
  </h6>
  {% load static %}
  <img class="main-store-image" alt="Фото магазину" src="{% static 'images/store_photos/main.jpg' %}">
  <div class="store-image-grid">
    <img class="store-image" alt="Фото магазину" src="{% static 'images/store_photos/1.jpg' %}">
    <img class="store-image" alt="Фото магазину" src="{% static 'images/store_photos/2.jpg' %}">
  </div>
{% endblock %}
