{% extends "base.html" %}

{% block title %}
  <title>Контакти | Defender</title>
{% endblock %}

{% block content %}
  <h2 class="heading">
    Контакти
  </h2>

  <h6>
    Номер телефону:
  </h6>
  <div class="indented">
    {% block phone-numbers %}
      {% include "includes/phone_numbers.html" %}
    {% endblock %}
  </div>

  <h6 class="mb-0">
    Адреса:
  </h6>
  <address class="indented">
    Ринок "Чагарі"<br>
    вул. Пилипа Орлика, 18а<br>
    <b>м. Дрогобич</b>, Львівська обл.<br>
  </address>

  <h6 class="mb-0 mt-2">
    Години роботи магазину:
  </h6>
  <div class="indented">
    <p class="mb-2">
      Пн - вихідний<br>
      <b>Вт-Сб - 10:00-14:00</b><br>
      Нд - вихідний<br>
    </p>
    <p>
      Магазин знаходиться на ринку, тому години роботи відповідають часу роботи ринку.<br>
      Якщо є вагомі причини, магазин можна відкрити в інший час, але це потрібно узгоджувати індивідуально.
    </p>
  </div>

  <h6 class="mb-0 mt-2">
    Як нас знайти:
  </h6>
  <div class="indented">
    {% load static %}
    <details closed class="mb-3">
      <summary class="underlined">
        Вхід на ринок з вул. П. Орлика
      </summary>
      <p class="ml-3 mt-2 mb-3">
        За брамою праворуч. Магазин знаходиться за магазином з килимами.
      </p>
      <img class="store-location-image" 
         alt="Шлях до магазину з П. Орлика"
         src="{% static 'images/store_location/pylypa_orlyka.png' %}"
      >
    </details>

    <details closed>
      <summary class="underlined">
        Вхід на ринок з вул. В. Великого
      </summary>
      <p class="ml-3 mt-2 mb-3">
        За брамою прямо до кінця алеї -> ліворуч до кінця алеї.
      </p>
      <img class="store-location-image" 
           alt="Шлях до магазину з В. Великого"
           src="{% static 'images/store_location/volodymyra_velykoho.png' %}"
      >
    </details>
  </div>
{% endblock %}
