{% extends "base.html" %}

{% block title %}
  <title>Контакти | Defender</title>
{% endblock %}

{% block content %}
  <h2>Як зробити замовлення</h2>
  <br>
  <p>Для замовлення товарів заходьте в магазин, пишіть на Viber або телефонуйте за номером телефону:</p>
  <div class="pointer">
    <img class="call-out-icon" alt="Київстар" src="/static/images/kyivstar.png">
    <img class="call-out-icon" alt="Viber" src="/static/images/viber.png">
    <a class="hover-bold" href="tel:+380686266779">+38 (068) 626-67-79</a>
  </div>
  <br>

  <p>Замовлення можемо надіслати Укрпоштою або Новою Поштою.</p>
{% endblock %}
