{% extends "base.html" %}

{% block title %}
  <title>Контакти | Defender</title>
{% endblock %}

{% block content %}
  <h2 class="heading">
    Як зробити замовлення
  </h2>

  <p class="mb-4">
    Кожна одиниця товару має різний стан зношеності, тому в каталозі вказано приблизну вартість товарів.<br>
    Точна вартість залежить від стану обраного товару - деталі потрібно узгоджувати.
  </p>
  
  <p class="mb-2">
    Для уточнень або замовлення товарів заходьте в <b><a href="{% url 'contacts' %}">магазин</a></b>, 
    пишіть на Viber або телефонуйте:
  </p>

  <div>
    {% block phone-numbers %}
      {% include "includes/phone_numbers.html" %}
    {% endblock %}
  </div>

  <p class="mt-4">Замовлення можемо надіслати Укрпоштою або Новою Поштою.</p>
{% endblock %}
