{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  <title>Військова форма за країнами | Defender</title>
{% endblock %}

{% block content %}
  <h2>Країни:</h2>
  <br>
  {% if countries_with_products %}
    <ul class="no-bullet">
      {% for country in countries_with_products %}
        <li class="mb-1">
          <a href="{% url 'catalog:country-products-list' name=country.en_name %}">
            <span class="semi-bold">{{ country.ua_name }}</span>
          </a> 
          <span class="font-size-08 text-color-grey counter">
            ({{ country.product_count }})
          </span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-color-grey">Немає товарів</p>
  {% endif %}
{% endblock %}
