{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  <title>Військова форма за країнами | Defender</title>
{% endblock %}

{% block content %}
  <h2>Країни:</h2>
  <br>
  {% if countries_with_products %}
    <ul class="no-bullet">
      {% for country in countries_with_products %}
        <li><h6><a href="{% url 'catalog:country-products-list' name=country.en_name %}">{{ country.ua_name }}</a> <span class="counter">({{ country.product_count }})</span></h6></li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="greyed-out">Немає товарів</p>
  {% endif %}
{% endblock %}
