{% extends "base.html" %}

{% block title %}
  <title>Мій кабінет | Defender</title>
{% endblock %}

{% block content %}
  <p class="mt-2">
    <span class="font-size-09">Ім'я:</span>
    <br>
    <b>{{ user.first_name }}</b>
  </p>
  <p>
    <span class="font-size-09">Прізвище:</span>
    <br>
    <b>{{ user.last_name }}</b>
  </p>
  <p>
    <span class="font-size-09">Електронна адреса:</span>
    <br>
    <b>{{ user.email }}</b>
  </p>
  <div class="form-inline">
    <a href="{% url 'catalog:customer-update' %}" class="btn btn-primary">Змінити</a>
    <form class="m-0" method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary ml-1">Вийти з кабінету</button>
    </form>
  </div>
{% endblock %}
