{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  <title>Каталог товарів | Defender</title>
{% endblock %}

{% block content %}
  <form class="form-inline m-0" method="get" action="">
    {{ search_form|crispy }}
    <input 
      class="btn btn-primary mr-1 ml-1" 
      type="submit" 
      value="Пошук" 
      autocomplete="off-word"
    >
    <a class="btn btn-secondary" href="{% url 'catalog:product-list' %}">
      Очистити
    </a>
  </form>

  {% if object_list %}
    <div class="product-grid-list">
      {% for product in object_list %}
        <div class="product-card-list {% if not product.available %}unavailable{% endif %}">
          {% block update_wishlist %}
            {% include "includes/update_wishlist.html" %}
          {% endblock %}
          <a href="{{ product.get_absolute_url }}">
            <h6>{{ product.name }}</h6>
            <img class="product-image-list mb-2" alt="{{ product.name }}"
                src="{{ product.main_image.image.url }}">
          </a>
          {% if product.country %}
            <p class="mb-0">{{ product.country }}</p>
          {% endif %}
          <p class="semi-bold">{{ product.price_low }}-{{ product.price_high }} грн</p>
          {% if product.description %}
            <p>{{ product.description }}</p>
          {% endif %}
          <p class="font-size-09 text-color-grey">
            Код товару: {{ product.product_number }}
          </p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <br>
    <p class="text-color-grey">Немає товарів</p>
  {% endif %}
{% endblock %}
