{% extends "base.html" %}

{% block title %}
  <title>{{ product.name }} | Defender</title>
{% endblock %}

{% block content %}
  <h2>{{ product.name }}</h2>
  <ul class="no-bullet">
    <li>{{ product.price_low }}-{{ product.price_high }} грн</li>
    {% if product.country %}
      <li>{{ product.country }}</li>
    {% endif %}
    {% if product.description %}
      <li>{{ product.description }}</li>
    {% endif %}
    {% if product.available %}
      <li>В наявності</li>
    {% else %}
      <li class="greyed-out">Немає в наявності</li>
    {% endif %}
    <li>
      <a href="{% url 'catalog:update-wishlist' product_number=product.product_number %}?next={{ request.path }}">
        {% if product.product_number not in customer_wishlist_product_numbers %}
          <img class="heart-icon" src="/static/images/heart-transparent.png" alt="Додати до списку бажань">
        {% else %}
          <img class="heart-icon" src="/static/images/heart-solid.png" alt="Видалити зі списку бажань">
        {% endif %}
      </a>
    </li>
  </ul>
{% endblock %}
