{% extends "base.html" %}

{% block title %}
  <title>{{ product.name }} | Defender</title>
{% endblock %}

{% block content %}
  <h2>{{ product.name }}</h2>
  <ul class="no-bullet">
    <li>{{ product.price_low }}-{{ product.price_high }} грн</li>
    {% if product.country %}
      <li>{{ product.country }}</li>
    {% endif %}
    {% if product.description %}
      <li>{{ product.description }}</li>
    {% endif %}
    {% if product.available %}
      <li>В наявності</li>
    {% else %}
      <li class="greyed-out">Немає в наявності</li>
    {% endif %}
    <li>
      {% block update_wishlist %}
        {% include "includes/update_wishlist.html" %}
      {% endblock %}
    </li>
  </ul>
{% endblock %}
