{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  <title>Каталог товарів | Defender</title>
{% endblock %}

{% block content %}
  <form class="form-inline m-0" method="get" action="">
    {{ search_form|crispy }}
    <input class="btn btn-primary mr-1 ml-1" type="submit" value="Пошук" autocomplete="off-word">
    <a class="btn btn-secondary" href="{% url 'catalog:product-list' %}">Очистити</a>
  </form>

  {% if object_list %}
    <div class="product-grid">
      <ul class="no-bullet">
        {% for product in object_list %}
          <li class="product-card">
            <a href="{{ product.get_absolute_url }}">
              <img class="product-image" alt="{{ product.name }}"
                   src="/media/product_images/{{ product.category }}/{{ product.product_number }}">
              {{ product }}
            </a>
            {% block update_wishlist %}
              {% include "includes/update_wishlist.html" %}
            {% endblock %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <p class="greyed-out">Немає товарів</p>
  {% endif %}
{% endblock %}
