{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  <title>Каталог товарів | Defender</title>
{% endblock %}

{% block content %}
  {% if request.resolver_match.view_name != 'catalog:customer-wishlist' %}
    <form method="get" action="" class="gap-2 mb-2 mt-2">
      <div class="form-inline m-0">
        <div class="mr-1">
          {{ search_form|crispy }}
        </div>

        <div class="d-flex flex-nowrap">
          <input class="btn btn-primary mr-1" 
                 type="submit" 
                 value="Пошук" 
                 autocomplete="off-word"
          >
          <a class="btn btn-secondary" href="{{ request.path }}">
            Очистити
          </a>
        </div>
      </div>

      <div class="font-size-07 text-color-darkgrey radio">
        <input type="radio" 
               name="search_scope" 
               id="scope-category" 
               value="category" 
               {% if search_scope == "category" %}checked{% endif %}
        >
        <label class="form-check-label mr-4" for="scope-category">
          Шукати в обраній категорії
        </label>
       <input type="radio" 
               name="search_scope" 
               id="scope-global" 
               value="global" 
               {% if search_scope == "global" %}checked{% endif %}
        >
        <label class="form-check-label" for="scope-global">
          Шукати по сайту
        </label>
      </div>
    </form>
  {% else %}
  {% endif %}

  {% if object_list %}
    <div class="product-grid-list">
      {% for product in object_list %}
        <div class="product-card-list {% if not product.available %}unavailable{% endif %}"
             id="{{ product.product_number }}"
        >
          {% block update_wishlist %}
            {% include "includes/update_wishlist.html" %}
          {% endblock %}

          <a href="{{ product.get_absolute_url }}">
            <h6>{{ product.name }}</h6>
            {% if product.main_image.image.url %}
              <img class="product-image-list mb-2" 
                   alt="{{ product }}"
                   src="{{ product.main_image.image.url }}"
              >
            {% else %}
              {% load static %}
              <img class="product-image-list mb-2 default-image" 
                   alt="{{ product }}"
                   src="{% static 'images/default_product_image.avif' %}"
              >
            {% endif %}
          </a>

          {% if product.country %}
            <p class="mb-0">{{ product.country }}</p>
          {% endif %}

          <p class="semi-bold">
            {% if product.price_low == product.price_high %}
              {{ product.price_low }} грн
            {% else %}
              {{ product.price_low }}-{{ product.price_high }} грн
            {% endif %}
          </p>
          
          <div class="font-size-09">
            <p class="text-color-grey mb-0">Код товару: {{ product.product_number }}</p>
            {% if product.available %}
              <p>В наявності</p>
            {% else %}
              <p class="italic">Немає в наявності</p>
            {% endif %}
          </div>

        </div>
      {% endfor %}
    </div>

  {% else %}
    <br>
    <p class="text-color-grey">
      Немає товарів
    </p>
  {% endif %}

{% endblock %}
